<nav class="navbar navbar-light bg-dark">
    <a href="/" class="navbar-brand">
        <img style="height: 50px;filter: invert(94%) sepia(66%) saturate(1%) hue-rotate(169deg) brightness(103%) contrast(102%);"
            src="/img/logo-black.png" alt="logo">
    </a>
</nav>